.eco-sync-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #0070d2; */
    background-color: #0070d2a1;
    color: white;
    transition: background-color 0.5s linear, box-shadow 0.5s linear, padding 0.5s linear;
}

.branding {
    display: flex;
    align-items: center;
}

.branding img {
    width: 60px; /* Adjust as per your logo size */
    height: 60px; /* Adjust as per your logo size */
    margin-right: 10px;
}

.branding h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    display: inline-block;
    margin-right: 15px;
}

.nav-links ul li:last-child {
    margin-right: 0;
}

.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.fixed-header{
    position: fixed;
    width: -webkit-fill-available;
    z-index: 99999;
    background-color: #0070d2;
    transition: background-color 0.5s linear, box-shadow 0.5s linear, padding 0.5s linear;
}
@media only screen and (max-width: 430px) {
.branding h1 {
    display:none;
}
.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
}
.language-selector{
    text-align: right !important;
}
.language-selector select {
    padding: 8px 12px;
    color:black;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    margin-top: 10px;
}
.language-selector select:hover {
    border-color: #007bff;
}
.language-selector select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}